<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>RedBank</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">

  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>

  <!-- section -->

  <section style="padding-bottom: 10px;" id="title">

    <div class="nav-container container-fluid">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="">RedBank</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <% for (let [key, value] of Object.entries(nav_content)) { %>

            <% if (key==="Profile"){ %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%- value[1] %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item nav-link" href=<%- value[0] %>>Profile</a>
                <a class="dropdown-item nav-link" href="/logout" role="button">Logout</a>
              </div>
            </li>
            <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href=<%- value %>><%- key %></a>
            </li>
            <% } %>

            <% } %>
          </ul>
        </div>
      </nav>
    </div>
  </section>

  <hr>

  <!-- profile page -->

  <% if(status===false){ %>

  <section id="profile">
    <div class="row">
      <div class="donate col-lg-6">
        <h5>Hello <%- name_of_user %></h5>
        <div class="before-donation">
          <h6>Prepare Well For Your Donation</h6>
          <ul>
            <li class="prepare-list">Have iron-rich food, such as spinach, beans, raisins.</li>
            <li class="prepare-list">Get a good night's sleep the night before your donation, eat healthy food and drink extra liquid.</li>
            <li class="prepare-list">Donating Platelets? Don't take aspirin for 2 days before your appointment.</li>
            <li class="prepare-list">Eat a healthy meal, avoiding fatty food like hamburgers, fries or ice cream.</li>
            <li class="prepare-list">Wear a shirt with sleeves that you can roll up above your elbows.</li>
          </ul>
        </div>
        <form action="/secret" method="POST">
          <button name="save_button" value="<%- user_email %>" type="submit" class="btn btn-lg btn-outline-danger donate-button">Donate Blood</button>
        </form>
      </div>
      <div class="prepare-img-div col-lg-6">
        <img class="prepare-img" src="images/img29.jpg" alt="">
      </div>
    </div>

  </section>

  <% }else{ %>

  <section id="profile">
    <div class="row">
      <div class="donate col-lg-6">
        <h5>Hello <%- name_of_user %></h5>

        <div class="before-donation">
          <h6>After Your Donation</h6>
          <ul>
            <li class="prepare-list">Relax for a few minutes in our refreshment & recovery area — have some cookies or other snacks — you’ve earned it!</li>
            <li class="prepare-list">Drink an extra four (8 oz.) glasses of liquids and avoid alcohol over the next 24 hours.</li>
            <li class="prepare-list">Keep the strip bandage on for the next several hours; to avoid a skin rash, clean the area around the bandage with soap and water.</li>
            <li class="prepare-list">Don’t do any heavy lifting or vigorous exercise for the rest of the day.</li>
            <li class="prepare-list">Keep eating iron rich food.</li>
          </ul>

        </div>
      </div>
      <div class="prepare-img-div col-lg-6">
        <img class="thanks-img" src="images/img30.png" alt="">
      </div>

    </div>


  </section>

  <% } %>

  <!-- footer -->

  <footer class="white-section" id="footer">
    <div class="container-fluid">
      <i class="social-icon fab fa-facebook-f"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fab fa-instagram"></i>
      <i class="social-icon fas fa-envelope"></i>
      <p>© Copyright 2021 RedBank</p>
    </div>
  </footer>

</body>

</html>
